/*
cores:
        #f26826 - Laranja
        #005b31 - Verde

*/
.logo{

    height: 60px;
}


body {
    font-family: 'Proxima Nova', sans-serif;
}

.topo h1 {
    background-color: #00AEEF;
    color: white;
    text-transform: uppercase;
    padding: 20px 45px;
    border-radius: 31px;
    width: fit-content;
    margin: 02rem auto;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 900;
}

.input-template input {
    padding: 8px;
    color: #979797;
}

.input-template input[type="text"] {
    width: 60%;
    border-radius: 22px;
}


.input-template input[type="button"] {
    border: none;
    padding: 10px 40px;
    background: #E2E2E2;
    margin-right: 20px;
    transition: 0.3s;
}

.input-template input[type="button"]:hover {
    transform: scale(1.05);
    background-color: #3e3e3e;
    color: white;
}

.linha-de-produtos {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid black;
    padding: 3rem;
    border-radius: 30px;
    margin: 2rem auto;
}

.linha-de-produtos img {
    margin-bottom: 2rem;
    height: fit-content;
}


.form-container{
    margin-top: 60px;
}
.form-container input, .form-container select {
    border: 1px solid #707070;
    margin-bottom: 10px;
    border-radius: 25px;
}

.form-container h2{
    margin-bottom: 40px;
    color: black;
}

.conteudo input {
    width: 100%;
    padding: 5px;
}

button.remover-produto {
    color: white;
    background: #840505;
    border: none;
    border-radius: 30px;
    padding: 12px 19px;
    position: absolute;
    margin-top: -18px;
    font-weight: 900;
    transition: 0.2s;
}

button.remover-produto:hover {
    transform: rotate(180deg) scale(1.1);
    background-color: #212529;
}

.linha-de-produtos button.remover-produto {
    top: 0;
    left: -14px;
}

.conteudo .col-4 img {
    height: 100%;
}

.conteudo .container {
    margin: 3rem auto;
}

.botoes-adicionar button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.botoes-adicionar .icone {
    background-color: #056684;
    color: white;
    padding: 6px 15px;
    border-radius: 100px;
    font-weight: 900;
    font-size: larger;
    margin-right: 20px;
}



.botoes-final button {
    width: 100%;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    transition: 0.2s;
}

.botoes-final button:hover {
    filter: brightness(0.5);
    transform: scale(1.05);
}

button#btnPreview {
    background-color: #056684;
}

button#btnReset {
    background: #F1B513;
    color: white;
    height: 100%;
    border-radius: 6px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .disabled-link{
    pointer-events: none
  }